<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../assets/logo.png" class="logo"/>
        <span class="fs-4">Gopher Car Rental</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['home']">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['cars']">List of Cars</a>
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['rent']">Rental Form</a>
      </nav>
    </div>
  </header>
</div>

<div class="container py-3 container-content">
<router-outlet></router-outlet>
</div>
